.contenedorForm{
    display: flex;
    flex-direction: column;
}

.contenedorForm div h1{
    margin: 15px;
}

input{
    max-width: 400px;
    height: 50px;

    font-size: 25px;

    margin: 15px auto;
}

button{
    width: 200px;
    height: 50px;
    margin: auto;
}

.formAgregar{
    display: grid;
}

.titular{
    text-align: center;
}