body {
    background-color: #152742;
    color: white;
}

.contenedorForm{
    display: flex;
    flex-direction: column;
}

.contenedorForm div h1{
    margin: 15px;
    
    
}

input{
    min-width: 200px;
    height: 50px;

    font-size: 25px;

    margin: 15px;
}

button{
    width: 200px;
    height: 50px;
    margin: auto;
}

.formAgregar{
    display: grid;
    
}
