.Widget {
    background-color: #FA9F42;
    border-radius: 5px;
    width: 100px;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 5px rgba(250,159,66, 0.5);
    transition: all 0.2s ease;
}

.Widget:hover{
    box-shadow: 2px 2px 5px rgba(250,159,66, 0.5);
}

.Widget p{
    padding: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}