.navContainer{
    padding:0 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px;
    align-items: center;
    justify-items: center;
    background-color: #2B4162;
}


label a{
    color: #FA9F42;
    font-weight: bold;
    font-size: 25px;
    box-shadow: 5px 5px 5px rgba(250,159,66, 0.5);
    
}


label:hover{
    box-shadow: 2px 2px 5px rgba(250,159,66, 0.5);
}

/* Adivinando logre que si lo meto en un div puedo ponerle una clse  ;) */
.CartWidget {
    justify-self: end;

}

.navContainer ul {
    list-style: none;
    display: flex;
    justify-self: start;
}


/* Le damos un estilo raro, pero que creo que se ve bien */
.navContainer ul li{
    margin: 5px;
    padding: 10px;
    background-color: #FA9F42;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(250,159,66, 0.5);
    transition: all 0.2s ease;
}

.navContainer ul li:hover{
    box-shadow: 2px 2px 5px rgba(250,159,66, 0.5);
    text-decoration: overline;

}

.navContainer ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}